<% provide(:title, 'Profile') %>

<div class="container">
	<br/>
	<h1>	  
	  <%= @profile.name %>
	</h1>

	<p>
	  <%= @profile.email %>
	</p>
	<br/>

	<table class="table">
		<th>Nome:</th>
		<th>Descrição</th>
		<th>Início</th>
		<th>Previsão</th>

		<% @profile.projects.each do |project| %>
			<tr>			
				<td><%= 
						link_to project.name, 
								(user_signed_in? && current_user.is_admin?) ? edit_profile_project_path(@profile,project) : profile_project_path(@profile,project) %>
				</td>
				<td><%= project.description %></td>
				<td><%= project.start %></td>
				<td><%= project.prevision %></td>
			</tr>
		<% end %>
	</table>

	<p>
		<%= link_to 'Novo Projeto', new_profile_project_path(@profile, @project) %>
	</p>
	<%= link_to 'Edit', edit_profile_path(@profile) %> |
	<%= link_to 'Back', (user_signed_in? && current_user.is_admin?) ? profiles_path : root_path %>
</div>
