<li id="<%= project_item.id %>">
  <%= link_to project_path(project_item), :class => "list-group-item" do %>
    <div class="checkbox">
        <label>
            <input type="checkbox" />
        </label>
    </div>
    <span class="glyphicon glyphicon-star-empty projectDone"></span>
    <span class="name" style="min-width: 120px; display: inline-block;">
    	<h4><%= project_item.name %></h4>      
    </span> 
    <span class="">
      <%= wrap(project_item.description) %>
    </span>
    <span class="badge">Criado <%= time_ago_in_words(project_item.created_at) %> ago.</span>
  <% end %>
</li>

<script type="text/javascript">
    $(document).ready(function(){
        $('.projectDone').on('click', function(event){
            event.preventDefault();
            var el = $('.projectDone').closest('li');
            execute(el);
        });
        

        var execute = function(el){
            var element = el;
            $.ajax({
                url: "projects/complete",
                type: "POST",
                data: {id: element.val()},
                success: function (data) {
                  alert(data);
                }
            });
        };
    });
    
</script>