<div class="container">
  <h1>Projetos</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Data Início</th>
        <th>Previsão</th>
        <% if current_user.is_admin? %>
          <th>Dono</th>
        <% end %>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.name %></td>
          <td><%= project.description %></td>
          <td><%= project.start %></td>
          <td><%= project.prevision %></td>

          <% if current_user.is_admin? %>
            <td><%= project.get_owner %></td>
          <% end %>
          <td><%= link_to 'Show', profile_project_path(project.profile, project) %></td>
          <% if user_signed_in? %>
            <td><%= link_to 'Edit', edit_user_project_path(project.user, project) %></td>
            <td><%= link_to 'Destroy', user_project_path(project.user, project), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%end%>        
        </tr>
      <% end %>
    </tbody>
  </table>

</div> 
