<div class="container">
	<p id="notice"><%= notice %></p>

	<h1>
		<%= @project.name %>
	</h1>

	<p>
	  <strong>Description:</strong>
	  <%= @project.description %>
	</p>

	<p>
	  <strong>Start:</strong>
	  <%= @project.start %>
	</p>

	<p>
	  <strong>Prevision:</strong>
	  <%= @project.prevision %>
	</p>

	<%= link_to 'Edit', edit_profile_project_path(@profile, @project) if current_user.is_admin? %> |
	<%= link_to 'Back', profile_path(@profile) %>
</div>
